body {
    font-family: sans-serif;
    margin: 0;
    padding: 15px;
    background-color: #121214;
  }
  .wrap {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
  .profile {
    text-align: center;
    color: #FFF;
  }
  .photo {
    border-radius: 50%;
  }
  .profile_name {
    font-weight: bold;
    display: block;
  }
  .at {
    font-size: 13px;
  }
  .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .links ul li {
    margin: 14px 0;
  }
  .link {
    padding: 14px;
    display: block;
    background-color: #9466FF;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: ease all 0.3s;
    color: #FFF;
  }
  .link:hover {
    opacity: 0.9;
  }


.imagewrapper {
    padding: 10px;
}
  
.image--cover {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}